
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 16rem 5rem auto 10rem;
  grid-template-areas:
    "header header ."
    "nav nav nav"
    ". content ."
    "footer footer footer"
  ;
  min-height: 100vh;
}

header {
  margin: 1rem;
  font-size: 2rem;
  grid-area: header;
}

header h1 {
  margin-bottom: 0;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Bitter', serif;
  text-shadow: -2px 2px 0 gray;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
  margin: 0;
  font-style: italic;
}

main p {
  font-family: 'Montserrat', sans-serif;
  max-width: 30rem;
  margin: 2rem auto;
}

#main-bird {
  width: 100%;
}


nav {
  grid-area: nav;
}


nav ul {
  display: flex;
  padding-inline-start: 0;
  justify-content: space-evenly;
  max-width: 100%;
  

  background-color: #333333;
  padding: 10px 0;
  color: white;
}

nav ul li {
  list-style-type: none;
  font-size: 1.6rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Bitter', serif;
  font-weight: bold;
  /* font-style: italic; */
}


main {
  grid-area: content;
}



.body-ul {
  max-width: 26rem;
  margin: 1rem auto;
  
}



footer {
  grid-area: footer;
  background-color: #333333;
  color: white;
}

footer p {
  margin: 2rem 0 0 4rem;
}


